:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
}

.mat-card {
  padding: 25px 50px 35px;
  position: relative;
}

h2 {
  line-height: 1.2;
  text-align: center;
}

.mat-form-field {
  display: block;
  width: 300px;
}

button {
  width: 100%;
}

a {
  cursor: pointer;
  font-size: 12px;
  margin-top: 1.25em;
}
.mat-mdc-card {
  position: relative;
  width: 400px;
}

.box-login {
  box-shadow: 10px 10px 80px -31px rgba(1, 56, 237, 0.75);
  -webkit-box-shadow: 10px 10px 80px -31px rgba(1, 56, 237, 0.75);
  -moz-box-shadow: 10px 10px 80px -31px rgba(1, 56, 237, 0.75);
  min-width: 500px;
  max-width: 500px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.btn-2 {
  background-color: lightgrey !important;
}