:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
}

.mat-card {
  padding: 25px 50px 35px;
  position: relative;
}

h2 {
  line-height: 1.2;
  text-align: center;
}

.mat-form-field {
  display: block;
  width: 300px;
}

button {
  width: 100%;
}

a {
  cursor: pointer;
  font-size: 12px;
  margin-top: 1.25em;
}
.mat-mdc-card {
  position: relative;
  width: 400px;
}