<h1 mat-dialog-title>{{ isEditMode ? 'Edit Event': 'Add New Event'}}</h1>
<!-- <h1 mat-dialog-title>Add New Event</h1> -->
<div mat-dialog-content>
  <form (ngSubmit)="isEditMode ? onSave() : onAdd()">
    <div class="view-dropdown">
      <mat-label>Date: </mat-label>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="eventDate" [(ngModel)]="eventDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
    </div>
    <div class="view-dropdown">
      <mat-label>Project: </mat-label>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedProject" name="project">
          <mat-option *ngFor="let project of projects" [value]="project.project_name">
            {{ project.project_name }}
          </mat-option>
          <!-- <mat-option value="Project A">Project A</mat-option>
          <mat-option value="Project B">Project B</mat-option>
          <mat-option value="Project C">Project C</mat-option>
          <mat-option value="Project D">Project D</mat-option>
          <mat-option value="Project E">Project E</mat-option> -->
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="suggestProjects()">Suggest</button>
      <div *ngIf="suggestedProjects.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let project of suggestedProjects"  (click)="selectProject(project.name)">
            {{ project.name }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="view-dropdown">
      <mat-label>Task: </mat-label>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedTask" name="task">
          <mat-option *ngFor="let task of tasks" [value]="task.t_name">
            {{ task.t_name }}
          </mat-option>
          <!-- <mat-option value="Task A">Task A</mat-option>
          <mat-option value="Task B">Task B</mat-option>
          <mat-option value="Task C">Task C</mat-option>
          <mat-option value="Task D">Task D</mat-option>
          <mat-option value="Task E">Task E</mat-option> -->
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="suggestTasks()">Suggest</button>
      <div *ngIf="suggestedTasks.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let task of suggestedTasks"  (click)="selectTask(task.name)">
            {{ task.name }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div>
      <mat-label>Period:</mat-label>
      <mat-radio-group [(ngModel)]="selectedPeriod" name="period">
        <mat-radio-button value="1">All</mat-radio-button>
        <mat-radio-button value="2">Morning</mat-radio-button>
        <mat-radio-button value="3">Afternoon</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="isEditMode; else addMode" (click)="onSave()">Save</button>
  <ng-template #addMode>
    <button mat-button (click)="onAdd()">Add</button>
  </ng-template>
  <!-- <button mat-button (click)="onAdd()">{{ isEditMode ? 'Save' : 'Add' }}</button> -->
  <!-- <button mat-button (click)="onAdd()">Add</button> -->
</div>