<header>
  <h1 mat-dialog-title>เปลี่ยนรหัสผ่าน</h1>
  <div class="flex-spacer"></div>
</header>



<mat-dialog-content [formGroup]="form" class="change-password-container">
  <br>
  <mat-form-field>
    <mat-label>รหัสผ่านปัจจุบัน</mat-label>
    <input matInput formControlName="oldPassword" autocomplete="off" [type]="hide ? 'password' : 'text'"/>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <!-- <mat-error *ngIf="form.controls.oldPassword.hasError('invalid')" >รหัสผ่านปัจจุบันผิด กรุณากรอกใหม่</mat-error> -->
  <br>
  <mat-form-field>
    <mat-label>รหัสผ่านใหม่</mat-label>
    <input matInput formControlName="newPassword" autocomplete="off"  [type]="hide2 ? 'password' : 'text'"/>
    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="form.hasError('sameOld')">รหัสผ่านเหมือนรหัสปัจจุบัน กรุณาเปลี่ยนใหม่</mat-error>
  <br>
  <mat-form-field>
    <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
    <input matInput formControlName="confirmPassword" autocomplete="off"  [type]="hide3 ? 'password' : 'text'"/>
    <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>

  </mat-form-field>
  <mat-error *ngIf="form.hasError('notSame')">กรุณากรอกรหัสผ่านให้ตรงกัน</mat-error>

  <!-- <div class="fade-in-fwd policy-text" *ngIf="form.controls.newPassword.dirty || form.controls.confirmPassword.dirty">
    <span style="font-weight: bold;" >ข้อกำหนดรหัสผ่าน</span>

    <div *ngIf="pwPolicy.min !== 0"
          [class.policy-valid]="!form.controls.newPassword.hasError('minText')" 
          [class.policy-invalid]="form.controls.newPassword.hasError('minText')">
      <mat-icon>task_alt</mat-icon>จำนวนตัวอักษร จำนวน {{pwPolicy.min}} ตัวขึ้นไป
    </div>

    <div *ngIf="pwPolicy.lower !== 0"
          [class.policy-valid]="!form.controls.newPassword.hasError('minLetter')"
          [class.policy-invalid]="form.controls.newPassword.hasError('minLetter')">
       <mat-icon>task_alt</mat-icon>ตัวพิมเล็ก "a-z" จำนวน {{pwPolicy.lower}} ตัวขึ้นไป
    </div>
    <div *ngIf="pwPolicy.upper !== 0"
          [class.policy-valid]="!form.controls.newPassword.hasError('minLetterUpper')"
          [class.policy-invalid]="form.controls.newPassword.hasError('minLetterUpper')">
       <mat-icon>task_alt</mat-icon>ตัวพิมพ์ใหญ่ "A-Z" จำนวน {{pwPolicy.upper}} ตัวขึ้นไป
    </div>
    
    <div *ngIf="pwPolicy.number !== 0"
          [class.policy-valid]="!form.controls.newPassword.hasError('minNumber')"
          [class.policy-invalid]="form.controls.newPassword.hasError('minNumber')">
       <mat-icon>task_alt</mat-icon>ตัวเลข "0-9" จำนวน  {{pwPolicy.number}} ตัวขึ้นไป
    </div>

    <div *ngIf="pwPolicy.special !== 0" 
          [class.policy-valid]="!form.controls.newPassword.hasError('minSpecial')"
          [class.policy-invalid]="form.controls.newPassword.hasError('minSpecial')">
      <mat-icon>task_alt</mat-icon>ตัวอักขระพิเศษ จำนวน {{pwPolicy.special}} ตัวขึ้นไป
    </div>
  </div> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="change()">เปลี่ยนรหัสผ่าน</button>
</mat-dialog-actions>

<app-loading *ngIf="busy"></app-loading>
