.change-password-container, .policy-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.policy-text {
    width: 280px !important;
    
    div {
        .mat-icon {
            vertical-align: middle;
            margin: 5px;
        }
    }
}

.policy-valid {
    color: darkseagreen !important;
    .mat-icon {
        color: darkseagreen !important; 
    }
}

.policy-invalid {
    color: red !important;
    .mat-icon {
        color: red !important; 
    }
}


:host {
    .mat-icon {
        color: gray;
        cursor: pointer;
    }

    .mat-error {
        font-size: 11px;
        line-height: 1;
        margin-top: -13px;
    }
}

.fade-in-fwd {
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd {
    0% {
      transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  