/* Variables */

$primary-color: #159b03;
$danger-color: #f44336;
$hover-danger-color: #d32f2f;
$table-border-color: #e0e0e0;
$zebra-stripe-color: #f9f9f9;
$hover-row-color: #d6f5d6;
$header-bg-color: #e9ecef;
$padding: 8px 16px;

/* Selectors Container */

.selectors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    label {
        margin-right: 10px;
        font-weight: bold;
    }
    .year-selector {
        flex: 1;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:hover {
            border-color: $primary-color;
        }
        select {
            padding: 8px 12px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }
    }
    .add-holiday {
        background-color: #d6f5d6;
        font-weight: bold;
        color: #1e7b1e;
        padding: 6px 16px;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }
    .add-holiday:hover {
        background-color: $hover-row-color;
    }
}


/* No holidays message */

.no-holidays {
    color: #999;
    font-style: italic;
    font-size: 16px;
    margin: 20px 0;
}


/* Table Styling */

.holiday-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    th,
    td {
        padding: $padding;
        text-align: left;
    }
    th {
        background-color: $header-bg-color;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
    }
    tbody {
        background-color: #fff;
        tr {
            border-bottom: 1px solid $table-border-color;
            &:nth-child(even) {
                background-color: $zebra-stripe-color;
            }
            &:hover {
                background-color: $hover-row-color;
                color: #172c24;
            }
            td {
                &.holiday-date {
                    width: 30%;
                }
                &.holiday-name {
                    width: 70%;
                }
                &.action-cell {
                    text-align: center;
                    border: none !important;
                    background-color: none !important;
                    margin-right: 8px !important;
                    .delete-button {
                        border: none;
                        background: none;
                        color: #f28b82;
                        font-size: 16px;
                        &:hover {
                            color: #f55a4c;
                        }
                    }
                }
            }
        }
    }
}


/* Responsive Design */

@media (max-width: 768px) {
    .holiday-table th,
    .holiday-table td {
        padding: 8px 10px;
        font-size: 14px;
    }
}