<div class="selectors-container">
    <!-- Year selection dropdown -->
    <div class="year-selector">
        <label for="year-select">Select Year:</label>
        <select id="year-select" (change)="onYearChange($event)" class="year-dropdown">
        <option *ngFor="let year of availableYears" [value]="year">
            {{ year }}
        </option>
    </select>
    </div>

    <button class="add-holiday" mat-button *ngIf="userRole === 'ADMIN'" (click)="openHolidayDialog()">
        <mat-icon style="margin-right: 4px;">add_circle_outline</mat-icon>Add
    </button>

</div>


<!-- Display holidays -->
<div *ngIf="holidays.length === 0" class="no-holidays">
    <p>No holidays found for the selected year and month.</p>
</div>

<!-- Display holidays for each month that has holidays -->
<!-- Display holidays for each month that has holidays -->
<div *ngFor="let month of monthsWithNumbers" class="month-section">
    <ng-container *ngIf="holidaysByMonth[month.name]?.length > 0 && (selectedMonth === '' || selectedMonth === month.number)">
        <h4 class="month-header">{{ month.name }}</h4>
        <table class="holiday-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Holiday Name</th>
                    <th *ngIf="userRole === 'ADMIN'">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let holiday of holidaysByMonth[month.name]; let i = index" (dblclick)="userRole === 'ADMIN' && openEditHoliday(holiday)">
                    <td class="holiday-date">{{ convertToDate(holiday.date) | date: 'EEE, d' }}</td>
                    <td class="holiday-name">{{ holiday.name }}</td>
                    <td *ngIf="userRole === 'ADMIN'" class="action-cell">
                        <button (click)="deleteHoliday(convertToDate(holiday.date))" class="delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>

<br>