<div class="selectors-container">
    <!-- Year selection dropdown -->
    <div class="year-selector">
        <label for="year-select">Select Year:</label>
        <select id="year-select" (change)="onYearChange($event)" class="year-dropdown">
        <option *ngFor="let year of availableYears" [value]="year">
            {{ year }}
        </option>
    </select>
    </div>

    <!-- Month selection dropdown -->
    <!-- <div class="month-selector">
        <label for="month-select">Select Month:</label>
        <select id="month-select" (change)="onMonthChange($event)" class="month-dropdown">
            <option value="">All Months</option>
            <option *ngFor="let month of monthsWithNumbers" [value]="month.number">
                {{ month.name }}
            </option>
        </select>
    </div> -->


</div>


<!-- Display holidays -->
<div *ngIf="holidays.length === 0" class="no-holidays">
    <p>No holidays found for the selected year and month.</p>
</div>

<!-- Display holidays for each month that has holidays -->
<div *ngFor="let month of monthsWithNumbers" class="month-section">
    <!-- Only display the month if there are holidays -->
    <ng-container *ngIf="holidaysByMonth[month.name]?.length > 0 && (selectedMonth === '' || selectedMonth === month.number)">
        <h4 class="month-header">{{ month.name }}</h4>
        <table class="holiday-table">
            <tbody>
                <!-- Show holidays if there are any -->
                <tr *ngFor="let holiday of holidaysByMonth[month.name]">
                    <td class="holiday-date">{{ holiday.date | date: 'EEE, d' }}</td>
                    <td class="holiday-name">{{ holiday.name }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
<br>