.tab-content {
    // Main container styles (similar to .user-management)
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(76, 76, 76, 0.1);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    h4 {
        font-size: 24px;
        color: #333;
    }
    .action-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-input {
            position: relative;
            display: flex;
            margin-right: 8px;
            border: 1px solid #ccc;
            border-radius: 20px;
            width: 250px;
            input[type="text"] {
                margin-left: 8px;
                padding: 8px;
                border: none;
                border-radius: 20px;
                font-size: 0.9rem;
                background: none;
                width: 88%;
            }
            /* Clear button inside the input field */
            .clear-search {
                width: 9%;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-35%);
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;
            }
            mat-icon {
                font-size: 18px;
                font-weight: bold;
                color: #a1a1a1;
            }
        }
        .button-container {
            display: flex;
            gap: 10px;
            .save-button {
                width: 80px;
                background-color: #d6f5d6 !important;
                color: #1e7b1e !important;
                padding: 8px 16px !important;
                border-radius: 20px !important;
                display: flex !important;
                align-items: center !important;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
                transition: box-shadow 0.3s ease !important;
                &:hover {
                    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15) !important;
                }
            }
            .cancel-button {
                width: 80px;
                background-color: #d2d2d2d1 !important;
                color: #434343 !important;
                padding: 8px 16px !important;
                border-radius: 20px !important;
                display: flex !important;
                align-items: center !important;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
                transition: box-shadow 0.3s ease !important;
                &:hover {
                    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15) !important;
                }
            }
            .save-button:disabled,
            .cancel-button:disabled {
                background-color: #f0f0f0 !important;
                color: #a1a1a1 !important;
                box-shadow: none !important;
                cursor: not-allowed !important;
            }
        }
    }
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 15px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    th {
        background-color: #e9ecef;
        padding: 10px;
        text-align: left;
        font-weight: bold;
        color: #495057;
    }
    td {
        padding: 10px;
        border-bottom: 1px solid #dee2e6;
        color: #212529;
    }
    .mat-column-role {
        width: 20%;
    }
    tr {
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
        &:last-child td {
            border-bottom: none; // Remove bottom border for the last row
        }
        &:hover {
            background-color: #d6f5d6;
            cursor: pointer;
        }
    }
}


/* Custom Select Styles */

.custom-select,
.custom-select-selected {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    width: 70%;
    font-size: 0.8rem;
    &:hover,
    &:focus {
        border-color: #049004bd;
    }
}

.custom-select-selected {
    background-color: #d6f5d6 !important;
    border: 1px solid #0a5800;
}

.mat-option {
    font-size: 0.8rem;
}