<div class="container">
    <div class="row">
        <div [ngClass]="{'col-sm-12': !showDetails, 'col-lg-8': showDetails}" class="col-lg-8">
            <app-card cardTitle="Ginkgo Calendar">
                <div class="dropdown">
                    <div class="yearmonth">
                        <mat-form-field appearance="fill">
                            <mat-label>Year</mat-label>
                            <mat-select [(value)]="selectedYear" (selectionChange)="onYearMonthChange()">
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Month</mat-label>
                            <mat-select [(value)]="selectedMonth" (selectionChange)="onYearMonthChange()">
                                <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Calendar view -->

                        <mat-form-field appearance="outline" *ngIf="userRole === 'ADMIN' && selectedView === 'calendar'" style="min-width: 250px;">
                            <mat-label>Filter by</mat-label>
                            <input type="text" placeholder="Select User" matInput [formControl]="userControl" [matAutocomplete]="auto" />

                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onUserSelected($event.option.value)">
                                <mat-option [value]="null">Only Me</mat-option>
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{ user.names }}</mat-option>
                            </mat-autocomplete>

                            <button *ngIf="userControl.value" mat-icon-button matSuffix aria-label="Clear" (click)="clearSelection()">
                              <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>



                        <!-- Table List view -->
                        <mat-form-field appearance="outline" *ngIf="userRole === 'ADMIN' && selectedView === 'list' " style="min-width: 180px;">
                            <mat-label>View Mode</mat-label>
                            <mat-select [(value)]="selectedTableView" (selectionChange)="onTableViewChange()">
                                <mat-option value="individual">Individual</mat-option>
                                <mat-option value="all">All Employees</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Wrapper for Filter and View Select, aligned to top right -->
                    <div class="filter-select-container" style="display: flex; justify-content: flex-end; gap: 10px;">
                        <div class="modeFilter" *ngIf="selectedView === 'list'">
                            <!-- Reset Button -->
                            <button mat-button (click)="resetFilters()" style="background-color: #f0e6ff; color: #8400a9; padding: 8px 16px; border-radius: 4px; display: flex; align-items: center;">
                            <mat-icon style="margin-right: 4px;">refresh</mat-icon>
                            Reset Filters
                            </button>
                        </div>

                        <div class="modeSelect">
                            <mat-form-field appearance="fill">
                                <mat-label>View</mat-label>
                                <mat-select [(value)]="selectedView" id="viewSelect" (selectionChange)="onViewChange()">
                                    <mat-option value="calendar">Calendar View</mat-option>
                                    <mat-option value="list">List View</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Load table if selectedView is 'list' -->
                <div *ngIf="selectedView === 'list' ">
                    <!-- Display tableContent using ngTemplateOutlet -->
                    <ng-container *ngTemplateOutlet="tableContent"></ng-container>

                    <ng-template #tableContent>
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" class="custom-table">
                            <!-- Conditionally show userProfile column based on userRole -->
                            <ng-container *ngIf="userRole !== 'USER'" matColumnDef="userProfile">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': '25%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>User Profile</span>
                                        <mat-form-field appearance="outline" class="filter-form-field">
                                            <input matInput #searchInput (input)="applyFilter($event)" placeholder="Search by username">
                                        </mat-form-field>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '25%'}">{{element.userProfile}}</td>
                            </ng-container>

                            <!-- Project Name Column -->
                            <ng-container matColumnDef="projectName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>Project Name</span>
                                        <mat-form-field appearance="outline" class="filter-form-field">
                                            <mat-label>Project Name</mat-label>
                                            <mat-select [(ngModel)]="selectedProject" (selectionChange)="updateListView()">
                                                <mat-option *ngFor="let project of projects" [value]="project.names">{{ project.names }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">{{element.projectName}}</td>
                            </ng-container>

                            <!-- Task Column -->
                            <ng-container matColumnDef="task">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>Task</span>
                                        <mat-form-field appearance="outline" class="filter-form-field">
                                            <mat-label>Task</mat-label>
                                            <mat-select [(ngModel)]="selectedTask" (selectionChange)="updateListView()">
                                                <mat-option *ngFor="let task of tasks" [value]="task.names">{{ task.names }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">{{element.task}}</td>
                            </ng-container>

                            <!-- Period Column -->
                            <ng-container matColumnDef="period">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>Period</span>
                                        <mat-form-field appearance="outline" class="filter-period-field">
                                            <mat-label>Period</mat-label>
                                            <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="updateListView()">
                                                <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div class="period-container">
                                        <img *ngIf="element.period === 'Morning'" src="assets/icons/am.png" class="icon-image">
                                        <img *ngIf="element.period === 'Afternoon'" src="assets/icons/pm.png" class="icon-image">
                                        <img *ngIf="element.period === 'All Day'" src="assets/icons/am-pm.png" class="icon-image">
                                        <span class="period-text">{{element.period}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>Date</span>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">{{element.date | date: 'dd-MM-yyyy'}}</td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-hover"></tr>
                        </table>
                    </ng-template>

                    <!-- Check if dataSource has any data -->
                    <div *ngIf="dataSource?.data?.length === 0;" style="display: flex; justify-content: center; align-items: center; height: 100%; text-align: center;">
                        <div style="font-size: 16px; color: #888; font-weight: 'bold'; margin: 20px;">
                            No records found.
                        </div>
                    </div>


                    <!-- Paginator -->
                    <div class="custom-paginator">
                        <!-- Page Size Options -->
                        <div class="container-page-size-select">
                            <p>Items per page
                            </p>
                            <mat-form-field appearance="outline" class="page-size-select">
                                <mat-select [value]="pageSize" (selectionChange)="onPageSizeChange($event)">
                                    <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
                                        {{ size }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="paginator-controls">
                            <button mat-icon-button (click)="previousPage()" [disabled]="pageIndex === 0 ">
                                <mat-icon>chevron_left</mat-icon>
                              </button>

                            <ng-container *ngFor="let page of totalPagesArray">
                                <button mat-button [ngClass]="{'active-page': pageIndex === page}" (click)="goToPage(page)" *ngIf="page !== '...'">
                                  {{ displayPageNumber(page) }}
                                  </button>
                                <span *ngIf="page === '...'">...</span>
                            </ng-container>

                            <button mat-icon-button (click)="nextPage()" [disabled]="pageIndex === totalPages - 1">
                                <mat-icon>chevron_right</mat-icon>
                              </button>
                        </div>

                        <div style="display: flex; justify-content: center; align-items: center;">
                            <p style="margin-left: 0px; text-align: center; font-size: 16px;"> Total {{ tempTotalItems }} items</p>
                        </div>

                    </div>

                </div>

                <!-- Load calendar only if selectedView is not 'list' -->
                <full-calendar *ngIf="selectedView !== 'list' && calendarVisible" [options]="calendarOptions" (dateClick)="handleDateClick($event)"></full-calendar>

            </app-card>
        </div>
        <div *ngIf="showDetails" class="col-lg-4">
            <app-card cardTitle="Details">
                <p>{{ isEditMode ? 'Edit Event' : isDuplicateMode ? 'Duplicate Event' : 'Add New Event' }}</p>
                <p>Selected dates:</p>
                <mat-list class="datelist">
                    <mat-list-item *ngFor="let date of selectedDates; let i = index">
                        {{ date.date | date: 'dd-MM-yyyy' }}
                        <mat-icon (click)="removeDate(i)">close</mat-icon>
                    </mat-list-item>
                </mat-list>
                <!-- <mat-checkbox>XX-XX-XXXX</mat-checkbox> -->
                <div class="view-dropdown">
                    <mat-label>Project: </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedProject" name="project">
                            <mat-option *ngFor="let project of projects" [value]="project.names">
                                {{ project.names }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button" (click)="suggestProjects()">Suggest</button>
                    <div *ngIf="suggestedProjects.length > 0">
                        <mat-list>
                            <mat-list-item *ngFor="let project of suggestedProjects" (click)="selectProject(project.name)">
                                {{ project.name }}
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="view-dropdown">
                    <mat-label>Task: </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedTask" name="task">
                            <mat-option *ngFor="let task of tasks" [value]="task.names">
                                {{ task.names }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color=" primary " type="button " (click)="suggestTasks() ">Suggest</button>
                    <div *ngIf="suggestedTasks.length> 0">
                        <mat-list>
                            <mat-list-item *ngFor="let task of suggestedTasks" (click)="selectTask(task.name)">
                                {{ task.name }}
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div>
                    <mat-label>Period:</mat-label>
                    <mat-radio-group [(ngModel)]="selectedPeriod" name="period">
                        <mat-radio-button value="1">All</mat-radio-button>
                        <mat-radio-button value="2">Morning</mat-radio-button>
                        <mat-radio-button value="3">Afternoon</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div mat-dialog-actions>
                    <button mat-button *ngIf="isEditMode; else addMode" (click)="editEvent()">Save</button>
                    <ng-template #addMode>
                        <button mat-button (click)="addEvent()">Add</button>
                    </ng-template>
                    <!-- <button mat-button (click)="addEvent()">Add</button> -->
                    <button mat-button (click)="closeDetailsPane()">Cancel</button>
                </div>
            </app-card>
        </div>
    </div>
</div>