<div class="timesheet-container">
    <div class="row">
        <div [ngClass]="{'col-sm-12': !showDetails, 'col-lg-8': showDetails}" class="col-lg-8">
            <app-card cardTitle="Ginkgo Calendar">
                <div class="dropdown">

                    <div class="yearmonth">
                        <div class="year-container">
                            <span>Year</span>
                            <mat-select class="select-year" [(value)]="selectedYear" (selectionChange)="onYearMonthChange()">
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </div>

                        <div class="month-container">
                            <span>Month</span>
                            <mat-select class="select-month" [(value)]="selectedMonth" (selectionChange)="onYearMonthChange()">
                                <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
                            </mat-select>
                        </div>

                        <!-- Calendar view -->

                        <div class="select-user-container" *ngIf="userRole === 'ADMIN' && selectedView === 'calendar'">
                            <span>Filter by</span>
                            <div class="search-input">
                                <input type="text" placeholder="Search..." matInput [formControl]="userControl" [matAutocomplete]="auto" [(ngModel)]="searchQuery" />
                                <button class="clear-search" *ngIf="searchQuery && userControl.value" (click)="clearSelection()">
                                    <mat-icon>close</mat-icon>
                                </button>

                                <!-- <button *ngIf="userControl.value" mat-icon-button matSuffix aria-label="Clear" (click)="clearSelection()"></button> -->
                            </div>

                            <mat-autocomplete class="select-user-mode" #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onUserSelected($event.option.value)">
                                <mat-option [value]="null">Only Me</mat-option>
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{ user.names }}</mat-option>
                            </mat-autocomplete>

                        </div>

                        <!-- Table List view -->
                        <div class="view-mode-container" *ngIf="userRole === 'ADMIN' && selectedView === 'list' ">
                            <span>View Mode</span>
                            <mat-select class="select-view-mode" [(value)]="selectedTableView" (selectionChange)="onTableViewChange()">
                                <mat-option value="individual">Only Me</mat-option>
                                <mat-option value="all">All Employees</mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <!-- Wrapper for Filter and View Select, aligned to top right -->
                    <div class="filter-select-container">
                        <div class="modeFilter" *ngIf="selectedView === 'list'">
                            <!-- Reset Button -->
                            <button mat-button class="reset-filer-bt" (click)="resetFilters()" style="
                           ">
                            <mat-icon style="margin-right: 4px;">refresh</mat-icon>
                            Reset
                            </button>
                        </div>

                        <div class="switch-view-container">
                            <span>View</span>
                            <mat-select class="select-switch-view" [(value)]="selectedView" id="viewSelect" (selectionChange)="onViewChange()">
                                <mat-option value="calendar">Calendar View</mat-option>
                                <mat-option value="list">List View</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>

                <!-- Load table if selectedView is 'list' -->
                <div *ngIf="selectedView === 'list' ">
                    <!-- Display tableContent using ngTemplateOutlet -->
                    <ng-container *ngTemplateOutlet="tableContent"></ng-container>

                    <ng-template #tableContent>
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" class="custom-table">
                            <!-- Conditionally show userProfile column based on userRole -->
                            <ng-container *ngIf="userRole !== 'USER'" matColumnDef="userProfile">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': '25%'}">
                                    <div class="name-container">
                                        <span>User Profile</span>
                                        <input class="search-name" matInput #searchInput (input)="applyFilter($event)" placeholder="Search...">
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '25%'}">{{element.userProfile}}</td>
                            </ng-container>

                            <!-- Project Name Column -->
                            <ng-container matColumnDef="projectName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">
                                    <div class="project-container">
                                        <span>Project Name</span>
                                        <mat-select class="select-project" [(ngModel)]="selectedProject" (selectionChange)="updateListView()">
                                            <mat-option *ngFor="let project of projects" [value]="project.names">{{ project.names }}</mat-option>
                                        </mat-select>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">{{element.projectName}}</td>
                            </ng-container>

                            <!-- Task Column -->
                            <ng-container matColumnDef="task">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">
                                    <div class="task-container">
                                        <span>Task</span>

                                        <mat-select class="select-task" [(ngModel)]="selectedTask" (selectionChange)="updateListView()">
                                            <mat-option *ngFor="let task of tasks" [value]="task.names">{{ task.names }}</mat-option>
                                        </mat-select>

                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '25%' : '20%'}">{{element.task}}</td>
                            </ng-container>

                            <!-- Period Column -->
                            <ng-container matColumnDef="period">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div class="period-container">
                                        <span>Period</span>
                                        <mat-select class="select-period custom-select" [(ngModel)]="selectedPeriod" (selectionChange)="updateListView()">
                                            <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
                                        </mat-select>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div class="period-container">
                                        <img *ngIf="element.period === 'Morning'" src="assets/icons/am.png" class="icon-image">
                                        <img *ngIf="element.period === 'Afternoon'" src="assets/icons/pm.png" class="icon-image">
                                        <img *ngIf="element.period === 'All Day'" src="assets/icons/am-pm.png" class="icon-image">
                                        <span class="period-text">{{element.period}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span>Date</span>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': userRole === 'USER' ? '15%' : '15%'}">{{element.date | date: 'dd-MM-yyyy'}}</td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-hover"></tr>
                        </table>
                    </ng-template>

                    <!-- Check if dataSource has any data -->
                    <div *ngIf="dataSource?.data?.length === 0;" style="display: flex; justify-content: center; align-items: center; height: 100%; text-align: center;">
                        <div style="font-size: 16px; color: #888; font-weight: 'bold'; margin: 20px;">
                            No records found.
                        </div>
                    </div>


                    <!-- Paginator -->
                    <div class="custom-paginator">
                        <!-- Page Size Options -->
                        <div class="container-page-size-select">
                            <p class="page_item_label">Items per page
                            </p>
                            <mat-select class="select-page" [value]="pageSize" (selectionChange)="onPageSizeChange($event)">
                                <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
                                    {{ size }}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div class="paginator-controls">
                            <button mat-icon-button (click)="previousPage()" [disabled]="pageIndex === 0 ">
                                <mat-icon>chevron_left</mat-icon>
                              </button>

                            <ng-container *ngFor="let page of totalPagesArray">
                                <button mat-button [ngClass]="{'active-page': pageIndex === page}" (click)="goToPage(page)" *ngIf="page !== '...'">
                                  {{ displayPageNumber(page) }}
                                  </button>
                                <span *ngIf="page === '...'">...</span>
                            </ng-container>

                            <button mat-icon-button (click)="nextPage()" [disabled]="pageIndex === totalPages - 1">
                                <mat-icon>chevron_right</mat-icon>
                              </button>
                        </div>

                        <div style="display: flex; justify-content: center; align-items: center;">
                            <p style="margin-left: 0px; text-align: center; font-size: 0.7rem;  color: #585858;"> Total {{ tempTotalItems }} items</p>
                        </div>

                    </div>

                </div>

                <!-- Load calendar only if selectedView is not 'list' -->
                <full-calendar *ngIf="selectedView !== 'list' && calendarVisible" [options]="calendarOptions" (dateClick)="handleDateClick($event)"></full-calendar>

            </app-card>
        </div>
        <div *ngIf="showDetails" class="col-lg-4">
            <app-card cardTitle="{{ isEditMode ? 'Edit Timesheet' : isDuplicateMode ? 'Duplicate Timesheet' : 'Add Timesheet' }}">
                <!-- <p>{{ isEditMode ? 'Edit Event' : isDuplicateMode ? 'Duplicate Event' : 'Add New Event' }}</p> -->
                <h4 style="margin-bottom: 20px;">Selected dates</h4>
                <mat-list class="datelist custom-mat-list">
                    <!-- <mat-label>Selected dates</mat-label> -->
                    <mat-list-item class="custom-mat-list-item" *ngFor="let date of selectedDates; let i = index">
                        {{ date.date | date: 'dd-MM-yyyy' }}
                        <mat-icon (click)="removeDate(i)">close</mat-icon>
                    </mat-list-item>
                </mat-list>

                <!-- <div class="view-dropdown custom-dropdown-card">
                    <mat-form-field appearance="outline" class="custom-form-field-card">
                        <mat-label>- Select Project - </mat-label>
                        <mat-select [(ngModel)]="selectedProject" name="project">
                            <mat-option *ngFor="let project of projects" [value]="project.names">
                                {{ project.names }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

                <div class="view-dropdown custom-dropdown-card">
                    <mat-form-field appearance="outline" class="custom-form-field-card">
                        <mat-label>- Select Project -</mat-label>
                        <mat-select [formControl]="projectControl" [(ngModel)]="selectedProject" name="project">
                            <mat-optgroup *ngFor="let group of projectGroups" [label]="group.name" [disabled]="group.disabled" style="font-weight: bold;">
                                <ng-container *ngIf="group.name !== 'Projects' || showProjects">
                                    <mat-option *ngFor="let project of group.project" [value]="project.value">
                                        {{ project.viewValue }}
                                    </mat-option>
                                </ng-container>
                                <mat-option *ngIf="group.name === 'Projects'" (click)="toggleProjects()">
                                    Click to {{ showProjects ? 'hide' : 'show' }} all projects
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="view-dropdown custom-dropdown-card">
                    <mat-form-field appearance="outline" class="custom-form-field-card">
                        <mat-label>- Select Task -</mat-label>
                        <mat-select [formControl]="taskControl" [(ngModel)]="selectedTask" name="task">
                            <mat-optgroup *ngFor="let group of taskGroups" [label]="group.name" [disabled]="group.disabled" style="font-weight: bold;">
                                <ng-container *ngIf="group.name !== 'Tasks' || showTasks">
                                    <mat-option *ngFor="let task of group.task" [value]="task.value">
                                        {{ task.viewValue }}
                                    </mat-option>
                                </ng-container>
                                <mat-option *ngIf="group.name === 'Tasks'" (click)="toggleTasks()">
                                    Click to {{ showTasks ? 'hide' : 'show' }} all tasks
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="period">
                    <h4>Select Period</h4>
                    <mat-radio-group [(ngModel)]="selectedPeriod" name="period" class="period-radio-group">
                        <mat-radio-button value="1">All</mat-radio-button>
                        <mat-radio-button value="2">Morning</mat-radio-button>
                        <mat-radio-button value="3">Afternoon</mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>
                <div mat-dialog-actions class="card-action-button" style="display: flex; justify-content: flex-end;">
                    <button mat-button (click)="closeDetailsPane()" style="
                            background-color: #e8e8e8; 
                            width: 30%;
                            margin-left: 10px;
                            color: #515151;
                            padding: 8px 16px;    
                            border-radius: 20px;                    
                            align-items: center; 
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                            transition: box-shadow 0.3s ease;">
                            Cancel
                        </button>
                    <button mat-button *ngIf="isEditMode; else addMode " (click)="editEvent()" style="
                            background-color: #d6f5d6; 
                            width: 30%;
                            margin-left: 10px;
                            color: #1e7b1e;
                            padding: 8px 16px; 
                            border-radius: 20px;                        
                            align-items: center; 
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                            transition: box-shadow 0.3s ease;">Update</button>
                    <ng-template #addMode>
                        <!-- <button mat-button color="primary" (click)="addEvent()">Add</button> -->
                        <button mat-button #addMode (click)="addEvent()" style="
                            background-color: #d6f5d6;                      
                            width: 30%;
                            margin-left: 10px;
                            color: #1e7b1e;
                            padding: 8px 16px; 
                            border-radius: 20px;                         
                            align-items: center; 
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                            transition: box-shadow 0.3s ease;">
                        Add
                        </button>
                    </ng-template>

                </div>
            </app-card>
        </div>
    </div>
</div>