<div class="modal-header">
    <h4 class="modal-title">{{ mode === 'add' ? 'Add User' : 'Edit User' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 mb-3" *ngIf="mode === 'add'">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" formControlName="userName" placeholder="Enter email" />
                    <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched" class="text-danger">
                        Valid email is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="mode==='add'">
                <div class="form-group">
                    <label for="password ">Password</label>
                    <!-- <div class="input-group ">
                        <input [type]="showPassword ? 'text' : 'password' " id="password " class="form-control " formControlName="password " placeholder="Enter password " />
                        <div class="input-group-append ">
                            <span class="input-group-text " (click)="togglePasswordVisibility() " style="cursor: pointer; ">
                                <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                            </span>
                        </div>
                    </div> -->

                    <div class="input-group align-items-center password-container">

                        <!-- Password Input -->
                        <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control border-0" formControlName="password" placeholder="Enter password" style="flex: 1;" />

                        <!-- Icon (toggle visibility) -->
                        <span class="input-group-text bg-white border-0" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </span>
                    </div>

                    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched " class="text-danger ">
                        Password is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name" />
                    <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="text-danger">
                        First name is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name" />
                    <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" class="text-danger">
                        Last name is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" formControlName="role">
                        <option value="" disabled>Select role</option>
                        <option *ngFor="let roleOption of roles" [value]="roleOption">{{ roleOption | uppercase}}</option>
                    </select>
                    <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="text-danger">
                        Role is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter phone number" />
                    <div *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched" class="text-danger">
                        Valid phone number is required
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Department Code</label>
                    <input type="text" class="form-control" formControlName="department_code" placeholder="Enter department code" />
                    <!-- <div *ngIf="userForm.get('department_code')?.invalid && userForm.get('department_code')?.touched" class="text-danger">
                    Valid phone number is required
                </div> -->
                </div>
            </div>


            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1 me-3">
                            <label>Status</label>
                            <div class="form-check form-switch mt-2">
                                <input type="checkbox" class="form-check-input custom-checkbox" formControlName="status" (change)="toggleStatus()" />
                                <label class="form-check-label">{{ userForm.get('status')?.value ? 'Active' : 'Inactive' }}</label>
                            </div>
                        </div>
                        <div class="flex-grow-1 me-3" *ngIf="mode === 'edit'">
                            <label>Locked Out</label>
                            <div class="form-check form-switch mt-2">
                                <input type="checkbox" class="form-check-input custom-checkbox" formControlName="lockedOut" (change)="toggleLockedOut()" />
                                <label class="form-check-label">{{ userForm.get('lockedOut')?.value ? 'Locked' : 'Unlocked' }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" mat-button (click)="onCancel()" style="background-color: #7a7a7ac3; color: #ffffff; /* font-weight: bold; */ padding: 8px 16px; border-radius: 20px; display: flex; align-items: center; box-shadow: 0px 4px 6px rgba(0,
                        0, 0, 0.1); transition: box-shadow 0.3s ease;">
        Cancel
        </button>
        <button type="submit" mat-button style=" background-color: #4caf4fe1; color: #ffffff; /* font-weight: bold; */ padding: 8px 16px; border-radius: 20px; display: flex; align-items: center; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); transition:
                        box-shadow 0.3s ease;">
        {{ mode === 'add' ? 'Add' : 'Update' }}
        </button>
    </div>
</form>