.password-container {
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    transition: border-color 0.3s ease-in-out;
}


/* Hover effect */

.password-container:hover {
    border-color: #1485ff;
    border: 2px solid #007bff;
}

.text-danger {
    color: red;
    font-size: 0.8em;
    margin-right: 10px;
}

.custom-checkbox:checked {
    background-color: #4CAF50;
    /* When selected */
}

.custom-checkbox:checked:focus {
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
    /* Focus state */
}

.custom-checkbox:checked:active {
    background-color: #2E7D32;
    /* When pressed */
}

.custom-checkbox:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
    /* General focus shadow */
}