.password-container {
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    transition: border-color 0.3s ease-in-out;
}


/* Hover effect */

.password-container:hover {
    border-color: #1485ff;
    border: 2px solid #007bff;
}

.text-danger {
    color: red;
    font-size: 0.8em;
    margin-right: 10px;
}

.mat-mdc-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #4CAF50;
    --mdc-switch-selected-handle-color: #4CAF50;
    --mdc-switch-selected-hover-state-layer-color: #4CAF50;
    --mdc-switch-selected-pressed-state-layer-color: #4CAF50;
    --mdc-switch-selected-focus-handle-color: #2E7D32;
    --mdc-switch-selected-hover-handle-color: #2E7D32;
    --mdc-switch-selected-pressed-handle-color: #2E7D32;
    --mdc-switch-selected-focus-track-color: #4CAF50;
    --mdc-switch-selected-hover-track-color: #4CAF50;
    --mdc-switch-selected-pressed-track-color: #4CAF50;
    --mdc-switch-selected-track-color: #4CAF50;
}

.small-slide-toggle {
    transform: scale(0.7);
    height: 20px;
}