:host {
    // display: flex;
    // justify-content: start;
    // align-items: center;
    // line-height: 24px;
}

.mat-snack-bar-container {
    display: flex;
    align-items: center; // Align items vertically centered
}

.mat-snack-bar-container {
    &.alert-info .mat-icon {
        color: #1c96eb;
    }
    &.alert-success .mat-icon {
        color: #009e55;
    }
    &.alert-warn {
        background-color: #ffb607;
        color: #404040;
    }
    &.alert-error {
        background-color: #cc3a17;
        color: #fff;
    }
}

.alert-info .mat-icon {
    color: #1c96eb;
}

.alert-success .mat-icon {
    color: #009e55;
}

.alert-warn {
    background-color: #ffb607;
    color: #404040;
}

.alert-error {
    background-color: #cc3a17;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center; // Vertically center align items
    justify-content: start; // Space between items
    line-height: 24px; // Ensure
}

.alert-icon {
    margin-right: 10px;
    font-size: 24px;
}

.alert-text {
    // display: flex;
    align-self: center;
}

.alert-action {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    background: none;
    flex-shrink: 0;
    margin-left: 48px;
    padding: 4px 10px;
}