:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .mat-icon {
      color: gray;
      cursor: pointer;
  }

  span {
      .mat-icon {
          vertical-align: middle;
          margin: 5px;
      }
  }

  .mat-error {
      font-size: 11px;
      line-height: 1;
      margin-top: -13px;
  }
}

.mat-card {
  padding: 25px 50px 35px;
  position: relative;
}

h2 {
  line-height: 1.2;
  text-align: center;
}

.mat-form-field {
  display: block;
  width: 400px;
}

button {
  width: 100%;
}

.policy-valid {
  color: darkseagreen !important;
  .mat-icon {
      color: darkseagreen !important; 
  }
}

.policy-invalid {
  color: red !important;
  .mat-icon {
      color: red !important; 
  }
}

.policy-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  width: 280px !important;

  div {
    .mat-icon {
      vertical-align: middle;
      margin: 5px;
  }
 }
}

.fade-in-fwd {
animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
