<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <form class="form" [formGroup]="form" novalidate="novalidate" (ngSubmit)="login()">

                        <a href="/" class="d-flex justify-content-center">
                            <!-- <h1>GinkgoRun</h1> -->
                            <img src="assets/images/ginkgo-run.png" alt="" style="width: 400px;" />
                        </a>
                        <!-- <h5 class="my-4 d-flex justify-content-center"> Sign in with Email address </h5> -->
                        <br>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" value="" name="email" formControlName="email" />
                            <label for="floatingInput">Email address / Username</label>
                        </div>
                        <div class="form-floating mb-3 position-relative">
                            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password" formControlName="password" />
                            <label for="password">Password</label>
                            <button type="button" class="btn btn-icon position-absolute top-50 end-0 translate-middle-y me-2" (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </button>
                        </div>
                        <!-- <div class="d-flex mt-1 justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                                <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
                            </div>
                            <h5 class="text-secondary">
                                <a href="javascript:">Forgot Password?</a>
                            </h5>
                        </div> -->
                        <div class="d-grid mt-4">
                            <button type="button" class="btn btn-custom" (click)="login()" [disabled]="form.invalid || busy">Sign In</button>
                        </div>

                        <!-- <h5 class="d-flex justify-content-center">
                            <a [routerLink]="['/guest/register']">Don't have an account?</a>
                        </h5> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p> Copyright ©
                <a href="https://ginkgosoft.co.th " target="_blank ">Ginkgo Soft</a></p>
        </div>
    </footer>
</div>