<div class="status">
    <div class="tab-content">

        <!-- Button Container for Save and Cancel -->
        <div class="table-header">
            <h4>Project Status</h4>
            <div class="action-container">
                <div class="search-input">
                    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="applyFilter()"/>
                    <button class="clear-search" *ngIf="searchQuery" (click)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <button class="add-pjStatus" mat-button (click)="openStatusDialog()">
                    <mat-icon style="margin-right: 4px;">add_circle_outline</mat-icon>Add
                </button>
            </div>
        </div>

        <!-- Material Table -->
        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.pjStatusName }}</td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.pjStatusType }}</td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let element">{{ element.pjStatusCode }}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="delete-button" (click)="deleteStatus(element.pjStatusId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Table Header and Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditStatusDialog(row)"></tr>

            </table>
        </div>

    </div>
</div>