.me-0 {
    margin: 0 0 0 16px !important;
}

.btn {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.3s ease;
    &:hover {
        border: 1px solid #90ee90;
        /* Light green border */
        box-shadow: 0 2px 4px rgba(144, 238, 144, 0.7);
        /* Light green shadow */
    }
    img {
        width: 80px;
        height: auto;
        border-radius: 10px;
    }
}